<%= render "shared/navbar" %>
<div id="outer">
  <div class="show-inner">
    <div class="show-inner-spaceship">
      <div class="spaceship">
        <h1 class="title-show">your spaceship</h1>
          <div class="cards">
            <% @user_spaceship.each do |spaceship| %>
              <div>
                <%= link_to spaceship_path(spaceship), class: "spaceship-card-link" do %>
                  <div class="card">
                    <%= image_tag spaceship.image_url, alt: "Image of the spaceship", class: "spaceship-image" %>
                    <div class="card-body">
                      <div class="name-rating">
                        <h5 class="card-title"><%= spaceship.name %></h5>
                        <div>
                          <% 5.times do %>
                            <i class="fa-solid fa-star"></i>
                          <% end %>
                          <p class="card-text"><%= spaceship.rating %></p>
                        </div>
                      </div>
                      <p class="card-text"><i class="fa-solid fa-location-dot"></i> <%= spaceship.location %></p>
                      <p class="card-text">€<%= spaceship.cost %>/day</p>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
      </div>
      <div class="spaceship">
        <h1>your booking</h1>
          <div class="cards">
            <% @user_bookings.each do |booking| %>
              <div>
                <%= link_to spaceship_path(booking), class: "spaceship-card-link" do %>
                  <div class="card">
                    <%= image_tag booking.spaceship.image_url, alt: "Image of the spaceship", class: "spaceship-image" %>
                    <div class="card-body">
                      <div class="name-rating">
                        <h5 class="card-title"><%= booking.spaceship.name %></h5>
                        <div>
                          <% 5.times do %>
                            <i class="fa-solid fa-star"></i>
                          <% end %>
                          <p class="card-text"><%= booking.spaceship.rating %></p>
                        </div>
                      </div>
                      <p class="card-text"><i class="fa-solid fa-location-dot"></i> <%= booking.spaceship.location %></p>
                      <p class="card-text">€<%= booking.spaceship.cost %>/day</p>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
      </div>
    </div>
    <div class="show-inner-info">
      <h1>Hi,
      <%= @current_user.first_name %> <%= @current_user.last_name %>
      </h1>
      <p><%=@current_user.email %></p>
    </div>
  </div>
  <div id="home-top-video-show">
    </div>
    <video autoplay loop muted width="100%" class="video-stick">
      <source src="/video/pexels_videos_4482.mp4" type="video/mp4" >
    </video>
  </div>
</div>
