<body class="outer">
  <%= render "shared/navbar" %>
  <div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: spaceships_path, method: :get, class: "d-flex my-5" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type the name or location of the spaceship you are looking for..."
        %>
      <%= submit_tag "Search", name: "", class: "btn-search" %>
    <% end %>
  </div>
</div>

  <div class="container mt-4">
    <div class="cards">
      <% @spaceships.each do |spaceship| %>
        <div>
          <%= link_to spaceship_path(spaceship), class: "spaceship-card-link" do %>
            <div class="card">
              <%= image_tag spaceship.image_url, class: "spaceship-image" %>
              <div class="card-body">
                <div class="name-rating">
                  <h5 class="card-title"><%= spaceship.name %></h5>
                  <div>
                    <% 5.times do %>
                      <i class="fa-solid fa-star"></i>
                    <% end %>
                    <p class="card-text"><%= spaceship.rating %></p>
                  </div>
                </div>
                <p class="card-text"><i class="fa-solid fa-location-dot"></i> <%= spaceship.location %></p>
                <p class="card-text">€<%= spaceship.cost %>/day</p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</body>
