<%= render "shared/navbar" %>
<div class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1>Spaceships</h1>
      <h3>Choose the spaceship of your dreams</h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @spaceships.each do |spaceship| %>
      <div class="co-12 col-sm-6 col-md-4 mb-3">
          <div class="card-category" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))"%>
            <h5 class="card-title"><%= spaceship.name %></h5>
            <p class="card-text">Located in <%= spaceship.location %></p>
            <p class="card-text">Rated by users: <%= spaceship.rating %></p>
            <p class="card-text">€<%= spaceship.cost %>/day</p>
            <%= link_to "Select", spaceship_path(spaceship) %>
          </div>
      </div>
    <% end %>
  </div>
</div>
