<body class="outer">
  <%= render "shared/navbar" %>
  <div class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="btn-container">
        <div class="btn-input-search">Search a spaceship by location</div>
        <%= link_to "Search", new_spaceship_path, class: "btn-search" %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="cards">
      <% @spaceships.each do |spaceship| %>
        <div>
          <%= link_to spaceship_path(spaceship), class: "spaceship-card-link" do %>
            <div class="card">
              <%= image_tag "spaceship-placeholder.jpg", alt: "Image of the spaceship", class: "spaceship-image" %>
              <div class="card-body">
                <div class="name-rating">
                  <h5 class="card-title"><%= spaceship.name %></h5>
                  <div>
                    <% 5.times do %>
                      <i class="fa-solid fa-star"></i>
                    <% end %>
                    <p class="card-text"><%= spaceship.rating %></p>
                  </div>
                </div>
                <p class="card-text"><i class="fa-solid fa-location-dot"></i> <%= spaceship.location %></p>
                <p class="card-text">€<%= spaceship.cost %>/day</p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</body>
